---
import Layout from '@/layouts/Layout.astro'
import {template} from '@/settings'
import {getCollection, render} from 'astro:content'

export async function getStaticPaths(): Promise<Array<{ params: { slug: string }, props: { post: any } }>> {
    const blogEntries = await getCollection("blog");

    const posts = blogEntries
        .map(post => {
        const slug = post.id
            return {
            	params: { slug },
            	props: { post },
            }
    })
    return posts
}
const {post} = Astro.props;
const { title, date, tags} = post.data; 
const { Content } = await render(post);
---

<Layout title={title}>
	<div class=''>
		<!-- class='prose prose-headings:text-base-content prose-p:text-base-content/80 lg:max-w-[90vw] mx-auto' -->
		<article
			class='lg:max-w-[90vw] mx-auto'
		>
			<!-- Header section -->
			<div class='text-center mb-4 border-b pb-8'>
				<h1 class='text-4xl font-bold mb-2 text-base-content'>{title}</h1>
				<div class='flex flex-wrap items-center gap-4 text-base-content/70 justify-end'>
					<!-- Tags -->
					<div class="flex-1">
					{
						tags && (
							<div class='flex flex-wrap gap-2'>
								{tags.map(tag => (
									<span class='badge badge-accent badge-outline'>{tag}</span>
								))}
							</div>
						)
					}
					</div>
					<!-- Date -->
					<time datetime={date} class='flex items-center'>
						<svg
							xmlns='http://www.w3.org/2000/svg'
							class='h-4 w-4 mr-2'
							fill='none'
							viewBox='0 0 24 24'
							stroke='currentColor'
						>
							<path
								stroke-linecap='round'
								stroke-linejoin='round'
								stroke-width='2'
								d='M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z'
							></path>
						</svg>
						{
							new Date(date).toLocaleDateString('en-US', {
								year: 'numeric',
								month: 'long',
								day: 'numeric',
							})
						}
					</time>

				</div>
			</div>

			<!-- Post content -->
			<!-- prose mt-8 prose-h2:text-3xl prose-h2:font-bold prose-h2:mb-4
			prose-h3:text-2xl prose-h3:font-semibold prose-h3:mb-3
			prose-p:mb-4 prose-p:leading-relaxed
			prose-strong:text-base-content prose-strong:font-bold
			prose-em:italic
			prose-a:text-accent prose-a:no-underline hover:prose-a:underline
			prose-code:text-accent prose-code:px-1 prose-code:py-0.5 prose-code:rounded
			prose-blockquote:border-l-4 prose-blockquote:border-accent prose-blockquote:pl-4 prose-blockquote:italic
			prose-li:mb-2
			prose-li:text-xl
			prose-img:rounded-lg prose-img:my-8
			prose-p:text-xl -->

			<div class='
				prose
				prose-strong:font-bold
				prose-p:leading-relaxed
				prose-ul:text-black prose-ol:text-black
				prose-p:text-black prose-p:mb-4
				prose-ul:space-y-1 prose-li:my-0
				lg:prose-ul:pl-20
				lg:prose-ol:pl-20
				prose-h2:text-3xl prose-h2:underline
				prose-blockquote:border-l-4 prose-blockquote:pl-4 prose-blockquote:text-gray-500
				prose-a:text-accent prose-a:no-underline hover:prose-a:underline
				prose-p:indent-10
				lg:max-w-[90vw]
				mx-auto
			'>
                <Content />
			</div>

		</article>
	</div>
</Layout>
