---
import { Image } from "astro:assets";

import SocialIcons from "./SocialIcons.astro";
import HeroContent from "./HeroContent";

const { fullName, title, institute, profilePicture } = Astro.props;
---

<HeroContent
  client:load
  fullName={fullName}
  title={title}
  institute={institute}
>
  <SocialIcons />
</HeroContent>

<div class="size-72 lg:block hidden relative group">
  <div
    class="absolute -inset-1 bg-gradient-to-r from-primary to-secondary rounded-full blur opacity-25 group-hover:opacity-75 transition duration-1000 group-hover:duration-200"
  >
  </div>
  <Image
    src={profilePicture}
    alt={fullName}
    class="w-full mask mask-circle relative"
  />
</div>
